/* LoginForm.css */

html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .login-form {
    color: #f6f7eb;
    background: #e94f37;
    padding: 20px;
    border-radius: 8px;
    width: 300px;

  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    color:black;
    background-color: #f6f7eb;
    padding: 8px;
    box-sizing: border-box;
  }
  